BasedOnStyle: Microsoft

### General
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Left
# west const
QualifierAlignment: Left 
MaxEmptyLinesToKeep: 2

### PreProcessor
# indent before '#'
IndentPPDirectives: BeforeHash
# indent nested macros
PPIndentWidth: 2

# todo: discuss
SortIncludes: Never 
IncludeBlocks: Preserve

### Comments
ReflowComments: false

### Functions
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: WithoutElse

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: None
SpaceInEmptyBlock: true

### Classes
AccessModifierOffset: -4
BreakConstructorInitializers: AfterColon 
PackConstructorInitializers: Never

### Namespaces
NamespaceIndentation: None
# enforces comments after namespace
FixNamespaceComments: Yes