BasedOnStyle: Microsoft
IndentWidth: 4
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakTemplateDeclarations: Yes
PPIndentWidth: 0
NamespaceIndentation: All
AccessModifierOffset: -4

# comments
ReflowComments: False

ColumnLimit: 80
PointerAlignment: Left
MaxEmptyLinesToKeep: 2


# classes
BreakConstructorInitializers: AfterColon 
# works only on clang 14
# PackConstructorInitializers: Never

# todo: discuss
SortIncludes: Never 
IncludeBlocks: Preserve