Makefile*
build/
debug/
release/
local_settings.pri
!features/local_settings.pri
*.pro.user
*.autosave
*.directory
*.qmake.stash
*.o
*.pyc
*qml_qmlcache.qrc
*.gcov
*.gcno
moc_*
.qtc_clangd/
linuxBuild.txt
unittests.xml
!tests/build/
lib/
include/
examples/
Collections/
modules/
.qtc_clangd/
src/gui/_resources_qml_qml_qmlcache.qrc
buildDebug/
