name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  documentation:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt install -y doxygen
        python -m pip install --upgrade pip
        pip install -r docs/requirements.txt
    - name: Run doxygen
      run: |
        cd docs
        doxygen
    - name: Create documentation
      run: |
        cd docs
        sphinx-build . html
